body{
    background-color: black;
}
.container{
    width: 334px;
    color: blanchedalmond;
    border: 2px solid white;
    text-align: center;
    /* background-color: rebeccapurple;
    background-image: url() no-repeat; */
}