Portfolio/.DS_Store
Portfolio/index.html
Portfolio/index.js
Portfolio/style.css
Portfolio/img/.DS_Store
Portfolio/img/myPicture.jpeg
Portfolio/img/news1.jpeg
Portfolio/img/news2.jpeg
Portfolio/img/tictactoe.png
Portfolio/img/weather1.jpeg
Portfolio/img/weather2.jpeg
